# Intellij
.idea/
*.iml
*.iws

# Keycloak
keycloak.mv.db
keycloak.trace.db

# Thorntail
.thorntail-runner-cache
 
# Mac
.DS_Store
 
# Maven
log/
target/
libraries/

# Node
node/
node_modules/
package-lock.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/dist
/tmp
/out-tsc
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# e2e
/e2e/*.js
/e2e/*.map

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
