<div class="flex items-start justify-center w-screen border-b border-gray-500 shadow">

  <!-- Home -->
  <button class="h-10 w-20 mx-3 mt-3 bg-transparent hover:shadow font-thin text-black py-2 px-4 border border-gray-900 rounded">
    Home
  </button>

  <!-- Tweet -->
  <button class="h-10 w-20 mx-3 mt-3 bg-transparent hover:shadow font-thin text-black py-2 px-4 border border-gray-900 rounded">
    Tweet
  </button>

  <!-- Icon -->
  <div class="gubbel-icon h-12 w-12 mt-3 mx-8 bg-cover bg-no-repeat"></div>

  <!-- Search -->
  <input class="h-10 mx-3 mt-3 bg-transparent hover:shadow font-thin text-black py-2 px-4 border border-gray-900 rounded"
  placeholder="Search user">

  <!-- Logout -->
  <button (click)="logout()" class="h-10 w-20 mx-3 mt-3 nav-button-logout hover:shadow font-thin text-black py-2 px-4 border border-gray-900 rounded">
    Logout
  </button>
</div>
